# some needless files
1compile.bat
2start.bat
3make Durak jar.bat
4make 7z.bat
/Updater/1compile Updater.bat
/Updater/2Make Updater jar.bat
/Updates/XMLFiller.jar
/Updates/XMLFiller.java
settings.ini
Audio.exe

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
¹*.jar
*.war
*.nar
*.ear
¹*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
